button {
  font-weight: bold;
  padding: 10px;
  background-color: brown;
  border-radius: 10px;
  color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
    padding: 15px;
    background-color: rgb(193, 39, 39);
}

button:active {
    padding: 10px;
    background-color: rgb(193, 39, 39);
}

.h2 {
  color: rgb(25, 0, 255);
  font: bold;
  width: 50%;
  height: 20px;
}

#h3 {
  color: rgb(0, 255, 8);
  font: bold;
}

h1 {
  border: 30px solid black;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

form {
  position: relative;
}

img {
  position: absolute;
  top: 50px;
  left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: end;
}

table,
tr,
td,
th {
  border: 1px solid red;
}

thead {
  background-color: brown;
}

tbody tr:nth-child(odd) {
  background-color: aliceblue;
}

.html {
  color: black;
  text-decoration: none;
}

.html:hover {
    color: red;
    text-decoration: underline;
}

.html:active {
    color: red;
    text-decoration: underline;
}
